* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3% 40% 20% 15% 15%;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "tags_div big_div heading_img heading_img heading_img "
    "tags_div big_div video video projects "
    "tags_div big_div video video awards "
    "tags_div big_div clients circle global_design ";

  padding: 3%;
  gap: 2%;
}

.tags_div {
  /* background-color: aqua; */
  grid-area: tags_div;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.tags_div > h6 {
  transform: rotate(-90deg);
  margin-top: 70px;
  font-weight: 500;
}

.big_div {
  /* background-color: aquamarine; */
  grid-area: big_div;
  position: relative;
}

.big_div > img {
  height: 110%;
  position: absolute;
  width: 210%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.heading_img {
  /* background-color: blue; */
  grid-area: heading_img;
  overflow: hidden;
  position: relative;
}

.heading_img > img {
  height: auto;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.video {
  /* background-color: red; */
  grid-area: video;
  overflow: hidden;
  border-radius: 9px;
  object-fit: cover;
}

.projects {
  grid-area: projects;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #9be4e1;
}

.awards {
  background-color: #6554d8;
  grid-area: awards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateY(-13px);
}

.clients {
  background-color: #505050;
  grid-area: clients;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients > img {
  height: auto;
  position: absolute;
  width: 140%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.circle {
  grid-area: circle;
  overflow: hidden;
}
.circle > img {
  display: flex;
  align-items: center;
  margin-top: 19px;
  margin-left: 27px;
  width: auto;
  height: 121px;
}

.global_design {
  display: flex;
  margin-left: -81px;
  /* background-color: orange; */
  background-color: #FFC267;
  grid-area: global_design;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
